<div class='container'>
    <div class='card card-primary'>
        <div class='card-header'>
            <h3>Author List</h3>
        </div>
        <div class='card-body'>
            <form class='form-inline'>
                <div class='form-group mb-4'>
                    <input type='text'
                        class='form-control'
                        placeholder='Filter usernames by...'
                        [(ngModel)]="listFilter"
                        name = "list-filter">
                </div>
            </form>
            <table class='table'>
                <thead>
                    <tr>
                        <th scope='col'>Author ID</th>
                        <th scope='col'>Name</th>
                        <th scope='col'>Username</th>
                        <th scope='col'></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let author of filteredAuthors'>
                        <th>{{author._id}}</th>
                        <th>{{author.firstName + " " + author.lastName}}</th>
                        <th>{{author.username}}</th>
                        <th><button [routerLink]="['/author',author.username]"
                            class='btn btn-secondary'>View details</button></th>
                    </tr>
                </tbody>
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link">1</a></li>
                    <li class="page-item"><a class="page-link">2</a></li>
                    <li class="page-item"><a class="page-link">3</a></li>
                    <li class="page-item">
                      <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </table>
        </div>
    </div>
</div>
